<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mission to Mars</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="text-center">
                <h1>Mission to Mars</h1>
                    <p><a class="btn btn-primary" href="../scrape" role="button">Scrape Data</a></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Latest Mars News</h2>
                </div>
            <hr>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>{{mars_data.Latest_Title}}</h4>
                    <p>{{mars_data.Latest_Paragraph}}</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <h2>Featured Mars Image</h2>
                    <img src="{{mars_data.Featured_Image_Url}}" alt="Featured Mars Image">
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h3>Mars Facts</h3>
                        <table border="1" class="dataframe">
                            <thead>
                              <tr style="text-align: right;">
                                <th></th>
                                <th></th>
                              </tr>
                              <tr>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>Equatorial Diameter</th>
                                <td>6,792 km</td>
                              </tr>
                              <tr>
                                <th>Polar Diameter</th>
                                <td>6,752 km</td>
                              </tr>
                              <tr>
                                <th>Mass</th>
                                <td>6.39 × 10^23 kg (0.11 Earths)</td>
                              </tr>
                              <tr>
                                <th>Moons</th>
                                <td>2 (Phobos &amp; Deimos)</td>
                              </tr>
                              <tr>
                                <th>Orbit Distance</th>
                                <td>227,943,824 km (1.38 AU)</td>
                              </tr>
                              <tr>
                                <th>Orbit Period</th>
                                <td>687 days (1.9 years)</td>
                              </tr>
                              <tr>
                                <th>Surface Temperature</th>
                                <td>-87 to -5 °C</td>
                              </tr>
                              <tr>
                                <th>First Record</th>
                                <td>2nd millennium BC</td>
                              </tr>
                              <tr>
                                <th>Recorded By</th>
                                <td>Egyptian astronomers</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8 offset-4">
                    <h2>Mars Hemispheres</h2>
                </div>
                <hr>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h4>{{mars_data.Hemisphere_Title_and_Images[0]["Title"]}}</h4>
                    <img width="256 px" height="256 px" src={{mars_data.Hemisphere_Title_and_Images[0]["img_url"]}}>
                </div>
                <div class="col-md-6">
                    <h4>{{mars_data.Hemisphere_Title_and_Images[1]["Title"]}}</h4>
                    <img width="256 px" height="256 px" src={{mars_data.Hemisphere_Title_and_Images[1]["img_url"]}}>
                </div>            
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>{{mars_data.Hemisphere_Title_and_Images[2]["Title"]}}</h4>
                    <img width="256 px" height="256 px" style="max-width:100%; height:auto" src={{mars_data.Hemisphere_Title_and_Images[2]["img_url"]}}>
                </div>
                <div class="col-md-6">
                    <h4>{{mars_data.Hemisphere_Title_and_Images[3]["Title"]}}</h4>
                    <img width="256 px" height="256 px" src={{mars_data.Hemisphere_Title_and_Images[3]["img_url"]}}>
                </div>            
            </div>
        </div>

        
        <script src="" async defer></script>
    </body>
</html>